
<app-main-header headerName="APL Players" iconName="notifications-outline"></app-main-header>

<ion-content>
  
  <ion-item *ngFor="let player of playersArr">
    <ion-checkbox slot="start" (click)="onSelectPlayer($event,player)" ></ion-checkbox>
    <ion-avatar slot="start" style="width: 65px;
    height: 65px;">
      <img [src]="player?.image?player?.image:'../../assets/img/avatar.png'">
    </ion-avatar>
    <ion-label (click)="openPlayerDetails()">
      <h1>{{player?.name}}</h1>
      <h3>{{player?.role!==''?player?.role:'NA'}} - {{player?.rating}}</h3>
      <!-- <p>{{player?.batingStyle}}</p> -->
    </ion-label>
  </ion-item>
  <ion-button expand="block" (click)="onPart()">Part Now</ion-button>
  <ion-button color="warning" expand="block" (click)="onReset()">Reset</ion-button>
</ion-content>
