<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="color: #fff;">
      APL League
    </ion-title>
    <!-- <ion-icon [name]="iconName" slot="end" style="padding-right: 20px;"></ion-icon> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/cb.png" />
    <ion-card-header>
      <ion-card-title>APL League</ion-card-title>
      <ion-card-subtitle>AUTOSTAND LEAGUE </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/FB.png" />
    <ion-card-header>
      <ion-card-title>APL League</ion-card-title>
      <ion-card-subtitle>AUTOSTAND LEAGUE </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name=" APL League"></app-explore-container> -->
</ion-content>
