
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="color: #fff;">
      APL League
    </ion-title>
    <!-- <ion-icon [name]="iconName" slot="end" style="padding-right: 20px;"></ion-icon> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name=" APL League"></app-explore-container> -->
</ion-content>
